@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: pink;
  --accent-color: #61e8d3;
  --neutral-black-color: #1b1b1b;
  --accent-transp-color: rgba(97, 232, 212, 0.658);
}


* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: none;
  cursor: url("/cursor.svg") 3 3, auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
p,
body,
button {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 150%;
}

a,
.scrollButton {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 100%;
}


.sub-item a {
  font-family: "Roboto";
  font-weight: 400;
}

.text-blk a {
  color: var(--accent-color);
}

h1 {
  font-size: 15rem;
}

.work-hero h1 {
  font-size: 10rem;
}

h2 {
  font-size: 12rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-transform: none;
}

h6,
p,
body,
button,
.tag {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

b {
  font-weight: bold;
}

input,
textarea {
  border: solid 1px #1b1b1b;
  background: #3b3b3b;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input:hover,
textarea:hover {
  background: #fff;
}

input:focus,
textarea:focus {
  color: #1b1b1b;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

body {
  background: #1b1b1b;
}

ol {
  list-style-type: decimal;
  padding-inline-start: 2rem;
}

p ul {
  list-style-type: square;
  padding-inline-start: 2rem;
}

main {
  & .cont {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    row-gap: 1rem;
  }
}

footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 5rem 5rem;
}

.text-accent {
  color: var(--accent-color);
}

.cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  transform: translate(calc(var(--x) - var(--width) / 2),
      calc(var(--y) - var(--height) / 2));
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.42, 1);
  transition-property: width, height, transform;
  z-index: 99;
  pointer-events: none;
  will-change: transform;
  border-radius: var(--radius);
  cursor: url("/cursor.svg") 3 3, auto;

  @media (pointer: fine) {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 2px solid var(--accent-color);
    opacity: var(--scale);
    transform: scale(var(--scale));
    transition: 0.3s cubic-bezier(0.25, 0.25, 0.42, 1) opacity,
      0.3s cubic-bezier(0.25, 0.25, 0.42, 1) transform,
      0.1s cubic-bezier(0.25, 0.25, 0.42, 1) border-radius;
  }
}

.light .highlight {
  color: #1b1b1b;
}

.dark .highlight {
  color: #fff;
}

body:not(body:hover) .cursor::after {
  opacity: 0;
  transform: scale(0);
}

.butt {
  transform: translate3d(-0.5rem, -0.5rem, 0);
  transition: transform 0.3s ease-in-out;
}

a:hover .butt,
button:hover .butt {
  transform: translate3d(0rem, 0rem, 0);
}

.scrollTransition {
  transition: all 0.5s ease-in-out;
}

@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@property --z {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@keyframes revolve {
  from {
    --angle: 0deg;
    --z: 0;
  }

  to {
    --angle: 360deg;
    --z: -1;
  }
}

.moon {
  margin-top: 10%;
  --x-amplitude: 35vw;
  --y-amplitude: 25vh;
  --x: calc(cos(var(--angle)) * var(--x-amplitude));
  --y: calc(sin(var(--angle)) * var(--y-amplitude));
  transform:
    rotate(var(--rotation)) translate(var(--x), var(--y)) rotate(calc(var(--rotation) * -1));
  z-index: calc(var(--z));
  /* calc() is for Safari */
  animation: revolve 24s linear infinite;
}

.moon {
  --rotation: -12deg;
  animation-delay: 0s;
}

.stars {
  animation: float 8s ease-in-out infinite;
}

.smallstars {
  animation: float 5s ease-in-out infinite;

}

.stardelay {
  animation-delay: 2s;
}

@keyframes float {
  0% {
    /* transform: translate(0, 0); */
    transform: perspective(0px) translate(0, 0) rotateX(-0.2deg) rotateY(-0.2deg);
  }

  50% {
    /* transform: translate(1rem, 2rem); */
    transform: perspective(16px) translate(0.5rem, 2rem) rotateX(0.2deg) rotateY(0.2deg);
  }

  100% {
    /* transform: translate(0, 0); */
    transform: perspective(0px) translate(0, 0) rotateX(-0.2deg) rotateY(-0.2deg);

  }
}

@keyframes smallfloat {
  0% {
    /* transform: translate(0, 0); */
    transform: perspective(0px) translate(0, 0) rotateX(-0.2deg) rotateY(-0.2deg);
  }

  50% {
    /* transform: translate(1rem, 2rem); */
    transform: perspective(16px) translate(0rem, 2rem) rotateX(0.3deg) rotateY(0.3deg);
  }

  100% {
    /* transform: translate(0, 0); */
    transform: perspective(0px) translate(0, 0) rotateX(-0.2deg) rotateY(-0.2deg);

  }
}

@media not all and (min-width: 769px) {

  h1,
  .work-hero h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 8rem;
  }

  h3 {
    font-size: 6rem;
  }

  h3.scrolling-header {
    font-size: 8rem;
    line-height: 10rem;
  }

  .moon {
    --x-amplitude: 40vw;
    --y-amplitude: 35vh;
    animation: revolve 15s linear infinite;
  }
}

@media not all and (min-width: 640px) {
  main {
    padding: 0rem;
  }

  h1 {
    font-size: 4rem;
  }

  .work-hero h1,
  h2 {
    font-size: 4rem;
  }

  h3 {
    word-break: break-word;
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .work-hero h1 {
    word-break: break-word;
  }

  h3.scrolling-header {
    font-size: 8rem;
    line-height: 15rem;
  }

  .moon {
    display: none;
  }
}